<div class="card employee-card">
    <div class="card-header">
        <h2 class="card-title">{{ name }}</h2>
        <h3 class="card-title">{{ role }}</h3>
        <img class="icon" src="../assets/img/graduate.svg" height="130"  alt="Intern">
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item"><strong>ID:</strong> {{ id }}</li>
            <li class="list-group-item"><strong>Email:</strong><br/><a href="mailto:{{ email }}">{{ email }}</a></li>
            <li class="list-group-item"><strong>School:</strong> {{ school }}</li>
        </ul>
    </div>
</div>
